@font-face {
    font-family: "Manrope";
    font-weight: 800;
    font-style: normal;
    src:
    local("Manrope"),
    url("../fonts/fonts/Manrope-ExtraBold.woff2") format("woff2"),
    url("../fonts/fonts/Manrope-ExtraBold.woff") format("woff"),
    url("../fonts/fonts/Manrope-ExtraBold.eot") format("eot");
    font-display: swap;
}
@font-face {
    font-family: "Manrope";
    font-weight: 700;
    font-style: normal;
    src:
    local("Manrope"),
    url("../fonts/fonts/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/fonts/Manrope-Bold.woff") format("woff"),
    url("../fonts/fonts/Manrope-Bold.eot") format("eot");
    font-display: swap;
}
@font-face {
    font-family: "Manrope";
    font-weight: 600;
    font-style: normal;
    src:
    local("Manrope"),
    url("../fonts/fonts/Manrope-SemiBold.woff2") format("woff2"),
    url("../fonts/fonts/Manrope-SemiBold.woff") format("woff"),
    url("../fonts/fonts/Manrope-SemiBold.eot") format("eot");
    font-display: swap;
}
@font-face {
    font-family: "Manrope";
    font-weight: 500;
    font-style: normal;
    src:
    local("Manrope"),
    url("../fonts/fonts/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/fonts/Manrope-Medium.woff") format("woff"),
    url("../fonts/fonts/Manrope-Medium.eot") format("eot");
    font-display: swap;
}