header {
    height: 100%;
}

main {
    position: relative;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    height: 90px;
}

.logo {
    color: #1E1B1B;
    margin-left: 15vw;
    margin-top: 31px;

}

.menu {
    display: flex;
    width: 600px;
    height: 56px;
    position: relative;
    left: 17%;
    top: 32px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
}

.menu__items:first-child {
    display: inline;
    text-shadow: 1px 3px 3px rgb(0, 0, 0);
    font-weight: 800;
}

.menu__items {
    margin: 0 32px;
    align-self: center;
    padding-bottom: 15px;
}

.assistance__icon {
    margin: 0 40px;
}

.menu__items:nth-child(2) {
    text-wrap: nowrap;
}

.assistance {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-bottom: 10px;
}

.assistance__title {
    width: max-content;
    text-wrap: nowrap;
}

.assistance__number {
    width: 127px;
    font-size: 18;
    margin-top: 10px;
}

.header__title {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 65px;
    width: 624px;
    height: 252px;
}

.header__image {
    width: 605px;
    height: 635px;
    margin-left: 105px;
}

.header {
    display: flex;
    margin: 100px 15vw;
    width: 1300px;
    height: 632px;
    position: relative;
}

.button {
    display: flex;
    margin-top: 70px;
    align-items: center;

}

.header__button {
    margin-right: 30px;
}

.header__open {
    margin-top: 50px;
}

.header__BG {
    position: absolute;
    left: 545px;
    top: -28px;
}

.header__rating {
    position: absolute;
    left: 910px;
    top: 325px;
}

.service {
    height: 952px;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgb(236, 234, 234);
    text-align: center;
    padding: 7.813vw;
    font-family: "Manrope", sans-serif;
    font-size: 36px;
    padding-bottom: 20px;
}

.servise_text1 {
    font-size: 76px;
    padding: 5px 0 45px;

}

.offer__grid {
    display: grid;
    grid-template-rows: repeat(2, 222px);
    grid-template-columns: repeat(4, 316px);
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}

.offer__grid--item:hover {
    background-color: #FF6433;
    color: #fff;
}


.offer__grid--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    font-size: 24px;
    min-height: 95%;
    min-width: 95%;
    background-color: #fff;
}

.offer__img {
    width: 42px;
    padding-bottom: 20px;
}

.view__all {
    display: flex;
    padding-top: 20px;
    justify-content: end;
    font-size: 18px;
}

.view__all--icon {
    padding-left: 18px;
    font-family: "Manrope", sans-serif;
}

.processSection {
    padding-top: 150px;
    display: flex;
    justify-content: center;

}

.processLeft__title {
    width: 554px;
    height: 228px;
    font-size: 58px;
    font-weight: 800;
    font-family: "Manrope", sans-serif;
    text-align: left;
}

.processLeft__text {
    width: 437px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #636262;
    text-align: left;
    line-height: 30px;

}

.processLeft {
    position: relative;
    height: 396px;
}

.processRight {
    padding-left: 100px;
}

.processLeft__button {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.CTA {
    display: flex;
    height: 502px;
    margin-top: 95px;
    position: relative;
    left: -200px;
    width: 102.1vw;
    background: url("../Img/ovGrEUgrkyE.jpg") right;
}

.CTA__img1 {
    width: 502px;
}

.CTA__background {
    background-color: #FF6433;
    height: 502px;
    min-width: 729px;
    color: #fff;
    text-align: left;
    font-family: "Manrope", sans-serif;
    font-size: 48px;
    font-weight: 700;
    width: 659px;
    position: relative;
}

.CTA__background--text {
    padding: 160px 34px;

}

.CTA__background--button {
    position: absolute;
    left: 67px;
}

.CTA__img3 {
    max-width: 644px;
    position: relative;
    left: -275px;
    z-index: -1;
}

.experience {
    padding: 150px 0 50px;
    display: flex;
    justify-content: space-evenly;
}

.experience__number--title {
    color: #661CE7;
    font-family: "Manrope", sans-serif;
    font-size: 58px;
    font-weight: 600;
    padding-bottom: 20px;
}

.experience__number--text {
    color: #1E1B1B;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.brands {
    background-color: #E2E6E9;
    position: absolute;
    left: 0px;
    min-width: 100%;
    display: block;
    font-family: "Manrope", sans-serif;
    font-size: 58px;
    font-weight: 700;
    padding-bottom: 50px;
}

.brands__title {
    padding: 100px 0 0px 0;
}

.blog {
    padding-top: 540px;
    padding-left: 20px;
    position: relative;
    display: flex;
    font-family: "Manrope", sans-serif;
    font-size: 58px;
    font-weight: 700;

}

.blog__info--img {
    width: 466px;
    height: 268px;
    margin-bottom: 10px;
}

.blog__title {
    position: absolute;
    left: 85px;
    text-wrap: nowrap;
}

.blog__button--elements {
    padding-top: 85px;
    position: relative;
    left: 70px;
    text-wrap: nowrap;
}

.blog__button {
    display: inline;
    padding-right: 19px;
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    font-weight: 600;

}

.blog__info {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.blog__info--posted {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    color: #939191;
}

.blog__info--title {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
}

.blog__info--text {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

.blog__info--item {
    padding: 10px;
    max-height: 606px;
}

.blog__info--title, .blog__info--text {
    text-align: left;
    max-width: 425px;
}

.testimonials__line {
    display: inline-block;
    padding-top: 47px;
}

.testimonials {
    background-color: #F2F2F2;
    height: 938px;
    position: absolute;
    left: 0px;
    min-width: 100%;


}

.testimonials__title {
    padding: 100px 0 70px;
    font-family: "Manrope", sans-serif;
    font-size: 58px;
    font-weight: 800;
    width: 940px;
    line-height: 76px;
    margin: 0 auto 0 auto;
}

.testimonials__flex {
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.testimonials__block {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 616px;
    height: 376px;
    padding: 72px;
}

.testimonials__about--text {
    width: 500px;
    padding-top: 20px;
    font-size: 24px;
}

.testimonials__block--about {
    display: flex;
    flex-direction: row;

}

.testimonials__about--name {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.testimonials__about--address {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #939191;
}

.testimonials__about {
    padding: 10px 0 0 15px;
}

.sliders {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 302px;
    column-gap: 5px;
}

.FAQ {
    height: 1140px;
    position: absolute;
    left: 0;
    margin-top: 938px;
    min-width: 100%;
    background-color: #E2E6E9;
}

.FAQ__title {
    padding: 158px 0 86px 0;
    font-family: "Manrope", sans-serif;
    font-size: 58px;
    font-weight: 800;
}

.FAQ__elements {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    max-width: 896px;
    height: 112px;
    margin: 12px auto 12px auto;
    justify-content: start;
    align-items: center;
    justify-content: space-between;
}

.FAQ__elements--text {
    padding-left: 40.57px;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.FAQ__elements--button {
    padding-right: 40.05px;
}

.contactform {
    padding-top: 2078px;
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;

}

form {
    display: flex;
    flex-direction: column;
    column-gap: 4px;
}

.contactform__input {
    padding: 121px 0 0 0;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 121px;
}

.title__form {
    font-family: "Manrope", sans-serif;
    font-size: 65px;
    font-weight: 800;
    width: 587px;
    text-align: start;
    padding: 50px 0 48px 0;
}

.contactform__title {
    width: 590px;
    text-align: left;
    line-height: 84px;
}

input {
    background-color: #F2F2F2;
    margin: 4px;
    width: 624px;
    height: 72px;
}

.conatctform__info {
    display: flex;
    flex-direction: column;
    padding-top: 337px;
}

.contactform__title {
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #1E1B1B;
    text-align: left;
    line-height: 28px;

}

.contactform__text {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #1E1B1B;
    text-align: left;
    line-height: 36px;
    padding-bottom: 32px;
}

.contactform__input--button {
    background-color: #fff;
    text-align: start;
    padding-top: 64px;
}

.qwe {
    padding-left: 40px;
    color: #1E1B1B;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
}

.mapimage {
    padding-top: 3000px;

}

.above-footer-img {
    background-image: url("../Img/Image.png");
    height: 448px;
    position: absolute;
    left: 0px;
    top: 7300px;
    width: 100%;
    z-index: -1;
}

.footer {
    position: absolute;
    top: 8670px;
    width: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.footertop {
    background-color: #353434;
    height: 549px;
    display: flex;
    justify-content: space-around;
    padding-top: 128px;
}

.footertop__left--title {
    font-family: "Manrope", sans-serif;
    font-size: 48px;
    font-weight: 700;
    max-width: 630px;
    line-height: 140%;
}

.footertop__left--icons {
    display: flex;
    column-gap: 23.67px;
    padding-top: 64px;
}
.footer__title{
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #999999;
    padding-bottom: 8px;
}
.footer__text{
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #ffffff;
    padding-bottom: 32px;
}
.footerbottom{
    background-color: #1E1B1B;
    height: 157px;
    display: flex;
    justify-content: space-around;
    padding-top: 65px;
}
.footerbottom__menu{
    display: inline-flex;
}
.footerbottom__menu--element{
    padding-left: 36px;
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.footerbottom__text{
    color:#939191;
}
